apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: your-applicationset-name
  namespace: argocd-dev
spec:
  ignoreApplicationDifferences:
    - jsonPointers:
        - /spec/syncPolicy
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - matrix:
        generators:
          - git:
              repoURL: https://your-vcs.com/pass/to/your/repo.git
              revision: HEAD
              directories:
                - path: dev/values-and-manifests/your-applicationset-name/*/*
          - clusters:
              selector:
                matchLabels:
                  argocd.argoproj.io/secret-type: cluster
  template:
    metadata:
      name: '{{ .path.basenameNormalized }}-{{ .name }}'
      namespace: argocd-dev
    spec:
      project: your-argo-project
      sources:
        - chart: csp-app
          repoURL: https://your-artifact-storage.com/helm
          targetRevision: 0.15.0
          helm:
            valueFiles:
              - '$values/{{ .path.path }}/../../stage-values.yaml'
              - '$values/{{ .path.path }}/../ns-values.yaml'
              - '$values/{{ .path.path }}/values.yaml'
            releaseName: '{{ .path.basenameNormalized }}'
        - repoURL: 'https://your-vcs.com/pass/to/your/repo.git'
          targetRevision: HEAD
          ref: values
      destination:
        server: '{{ .server }}'
        namespace: '{{ index .path.segments 3 }}'
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
        syncOptions:
          - ServerSideApply=true